<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zero.mapper.shiro.SysPermissionMapper">
	<resultMap id="BaseResultMap" type="com.zero.pojo.shiro.SysPermission">
		<id column="fd_id" property="fdId" jdbcType="VARCHAR" />
		<result column="fd_name" property="fdName" jdbcType="VARCHAR" />
		<result column="fd_description" property="fdDescription"
			jdbcType="VARCHAR" />
		<result column="fd_type" property="fdType" jdbcType="VARCHAR" />
		<result column="fd_url" property="fdUrl" jdbcType="VARCHAR" />
		<result column="fd_percode" property="fdPercode" jdbcType="VARCHAR" />
		<result column="fd_parent_id" property="fdParentId" jdbcType="VARCHAR" />
		<result column="fd_parent_ids" property="fdParentIds" jdbcType="VARCHAR" />
		<result column="fd_order" property="fdOrder" jdbcType="INTEGER" />
		<result column="fd_available" property="fdAvailable" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		fd_id, fd_name, fd_description,
		case fd_type
			when '1' then '菜单'
			when '2' then '按钮'
			else '链接' end as fd_type,
		fd_url,
		fd_percode,
		fd_parent_id,
		fd_parent_ids,
		fd_order, fd_available
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.zero.pojo.shiro.SysPermissionExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_permission
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_permission
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.zero.pojo.shiro.SysPermissionExample">
		delete from sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.zero.pojo.shiro.SysPermission">
		insert into sys_permission
		(fd_id, fd_name, fd_description,
		fd_type, fd_url, fd_percode,
		fd_parent_id, fd_parent_ids, fd_order,
		fd_available)
		values
		(#{fdId,jdbcType=VARCHAR}, #{fdName,jdbcType=VARCHAR},
		#{fdDescription,jdbcType=VARCHAR},
		#{fdType,jdbcType=VARCHAR},
		#{fdUrl,jdbcType=VARCHAR}, #{fdPercode,jdbcType=VARCHAR},
		#{fdParentId,jdbcType=VARCHAR}, #{fdParentIds,jdbcType=VARCHAR},
		#{fdOrder,jdbcType=INTEGER},
		#{fdAvailable,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zero.pojo.shiro.SysPermission">
		insert into sys_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fdId != null">
				fd_id,
			</if>
			<if test="fdName != null">
				fd_name,
			</if>
			<if test="fdDescription != null">
				fd_description,
			</if>
			<if test="fdType != null">
				fd_type,
			</if>
			<if test="fdUrl != null">
				fd_url,
			</if>
			<if test="fdPercode != null">
				fd_percode,
			</if>
			<if test="fdParentId != null">
				fd_parent_id,
			</if>
			<if test="fdParentIds != null">
				fd_parent_ids,
			</if>
			<if test="fdOrder != null">
				fd_order,
			</if>
			<if test="fdAvailable != null">
				fd_available,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fdId != null">
				#{fdId,jdbcType=VARCHAR},
			</if>
			<if test="fdName != null">
				#{fdName,jdbcType=VARCHAR},
			</if>
			<if test="fdDescription != null">
				#{fdDescription,jdbcType=VARCHAR},
			</if>
			<if test="fdType != null">
				#{fdType,jdbcType=VARCHAR},
			</if>
			<if test="fdUrl != null">
				#{fdUrl,jdbcType=VARCHAR},
			</if>
			<if test="fdPercode != null">
				#{fdPercode,jdbcType=VARCHAR},
			</if>
			<if test="fdParentId != null">
				#{fdParentId,jdbcType=VARCHAR},
			</if>
			<if test="fdParentIds != null">
				#{fdParentIds,jdbcType=VARCHAR},
			</if>
			<if test="fdOrder != null">
				#{fdOrder,jdbcType=INTEGER},
			</if>
			<if test="fdAvailable != null">
				#{fdAvailable,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zero.pojo.shiro.SysPermissionExample"
		resultType="java.lang.Integer">
		select count(*) from sys_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sys_permission
		<set>
			<if test="record.fdId != null">
				fd_id = #{record.fdId,jdbcType=VARCHAR},
			</if>
			<if test="record.fdName != null">
				fd_name = #{record.fdName,jdbcType=VARCHAR},
			</if>
			<if test="record.fdDescription != null">
				fd_description =
				#{record.fdDescription,jdbcType=VARCHAR},
			</if>
			<if test="record.fdType != null">
				fd_type = #{record.fdType,jdbcType=VARCHAR},
			</if>
			<if test="record.fdUrl != null">
				fd_url = #{record.fdUrl,jdbcType=VARCHAR},
			</if>
			<if test="record.fdPercode != null">
				fd_percode = #{record.fdPercode,jdbcType=VARCHAR},
			</if>
			<if test="record.fdParentId != null">
				fd_parent_id = #{record.fdParentId,jdbcType=VARCHAR},
			</if>
			<if test="record.fdParentIds != null">
				fd_parent_ids = #{record.fdParentIds,jdbcType=VARCHAR},
			</if>
			<if test="record.fdOrder != null">
				fd_order = #{record.fdOrder,jdbcType=INTEGER},
			</if>
			<if test="record.fdAvailable != null">
				fd_available = #{record.fdAvailable,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sys_permission
		set fd_id = #{record.fdId,jdbcType=VARCHAR},
		fd_name = #{record.fdName,jdbcType=VARCHAR},
		fd_description =
		#{record.fdDescription,jdbcType=VARCHAR},
		fd_type =
		#{record.fdType,jdbcType=VARCHAR},
		fd_url =
		#{record.fdUrl,jdbcType=VARCHAR},
		fd_percode =
		#{record.fdPercode,jdbcType=VARCHAR},
		fd_parent_id =
		#{record.fdParentId,jdbcType=VARCHAR},
		fd_parent_ids =
		#{record.fdParentIds,jdbcType=VARCHAR},
		fd_order =
		#{record.fdOrder,jdbcType=INTEGER},
		fd_available =
		#{record.fdAvailable,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zero.pojo.shiro.SysPermission">
		update sys_permission
		<set>
			<if test="fdName != null">
				fd_name = #{fdName,jdbcType=VARCHAR},
			</if>
			<if test="fdDescription != null">
				fd_description = #{fdDescription,jdbcType=VARCHAR},
			</if>
			<if test="fdType != null">
				fd_type = #{fdType,jdbcType=VARCHAR},
			</if>
			<if test="fdUrl != null">
				fd_url = #{fdUrl,jdbcType=VARCHAR},
			</if>
			<if test="fdPercode != null">
				fd_percode = #{fdPercode,jdbcType=VARCHAR},
			</if>
			<if test="fdParentId != null">
				fd_parent_id = #{fdParentId,jdbcType=VARCHAR},
			</if>
			<if test="fdParentIds != null">
				fd_parent_ids = #{fdParentIds,jdbcType=VARCHAR},
			</if>
			<if test="fdOrder != null">
				fd_order = #{fdOrder,jdbcType=INTEGER},
			</if>
			<if test="fdAvailable != null">
				fd_available = #{fdAvailable,jdbcType=VARCHAR},
			</if>
		</set>
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zero.pojo.shiro.SysPermission">
		update
		sys_permission
		set fd_name = #{fdName,jdbcType=VARCHAR},
		fd_description
		= #{fdDescription,jdbcType=VARCHAR},
		fd_type =
		#{fdType,jdbcType=VARCHAR},
		fd_url = #{fdUrl,jdbcType=VARCHAR},
		fd_percode = #{fdPercode,jdbcType=VARCHAR},
		fd_parent_id =
		#{fdParentId,jdbcType=VARCHAR},
		fd_parent_ids =
		#{fdParentIds,jdbcType=VARCHAR},
		fd_order =
		#{fdOrder,jdbcType=INTEGER},
		fd_available =
		#{fdAvailable,jdbcType=VARCHAR}
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</update>

	<delete id="deleteByIds" parameterType="map">
		delete from sys_permission where fd_id in
		<foreach collection="ids" item="fdId" index="index" open="("
			separator="," close=")">
			#{fdId}
		</foreach>
	</delete>
	
	<select id="selectByRoleId" parameterType="java.lang.String"
		resultType="map">
		select sys_permission.fd_name,sys_permission.fd_id FROM sys_permission where
		sys_permission.fd_id in
		(select ur.fd_permission_id from sys_role_permission ur where
		ur.fd_role_id=#{fdRoleId})
	</select>
	
	<select id="unSelectByRoleId" parameterType="java.lang.String"
		resultType="map">
		select sys_permission.fd_name,sys_permission.fd_id FROM sys_permission where
		sys_permission.fd_id not in
		(select ur.fd_permission_id from sys_role_permission ur where
		ur.fd_role_id=#{fdRoleId})
	</select>
	
	<select id="unSelectByRoleIdandName" parameterType="java.lang.String"
		resultType="map">
		select sys_permission.fd_name,sys_permission.fd_id FROM sys_permission where
		sys_permission.fd_id not in
		(select ur.fd_permission_id from sys_role_permission ur where
		ur.fd_role_id=#{fdRoleId})
		and sys_permission.fd_name like #{fdName}
	</select>
</mapper>