<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zero.mapper.shiro.SysRolePermissionMapper">
	<resultMap id="BaseResultMap" type="com.zero.pojo.shiro.SysRolePermission">
		<id column="fd_id" property="fdId" jdbcType="VARCHAR" />
		<result column="fd_role_id" property="fdRoleId" jdbcType="VARCHAR" />
		<result column="fd_permission_id" property="fdPermissionId"
			jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		fd_id, fd_role_id, fd_permission_id
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.zero.pojo.shiro.SysRolePermissionExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from sys_role_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from sys_role_permission
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		sys_role_permission
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.zero.pojo.shiro.SysRolePermissionExample">
		delete from sys_role_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.zero.pojo.shiro.SysRolePermission">
		insert into
		sys_role_permission (fd_id, fd_role_id, fd_permission_id
		)
		values
		(#{fdId,jdbcType=VARCHAR}, #{fdRoleId,jdbcType=VARCHAR},
		#{fdPermissionId,jdbcType=VARCHAR}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.zero.pojo.shiro.SysRolePermission">
		insert into sys_role_permission
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="fdId != null">
				fd_id,
			</if>
			<if test="fdRoleId != null">
				fd_role_id,
			</if>
			<if test="fdPermissionId != null">
				fd_permission_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="fdId != null">
				#{fdId,jdbcType=VARCHAR},
			</if>
			<if test="fdRoleId != null">
				#{fdRoleId,jdbcType=VARCHAR},
			</if>
			<if test="fdPermissionId != null">
				#{fdPermissionId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zero.pojo.shiro.SysRolePermissionExample"
		resultType="java.lang.Integer">
		select count(*) from sys_role_permission
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update sys_role_permission
		<set>
			<if test="record.fdId != null">
				fd_id = #{record.fdId,jdbcType=VARCHAR},
			</if>
			<if test="record.fdRoleId != null">
				fd_role_id = #{record.fdRoleId,jdbcType=VARCHAR},
			</if>
			<if test="record.fdPermissionId != null">
				fd_permission_id =
				#{record.fdPermissionId,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update sys_role_permission
		set fd_id = #{record.fdId,jdbcType=VARCHAR},
		fd_role_id = #{record.fdRoleId,jdbcType=VARCHAR},
		fd_permission_id =
		#{record.fdPermissionId,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zero.pojo.shiro.SysRolePermission">
		update sys_role_permission
		<set>
			<if test="fdRoleId != null">
				fd_role_id = #{fdRoleId,jdbcType=VARCHAR},
			</if>
			<if test="fdPermissionId != null">
				fd_permission_id = #{fdPermissionId,jdbcType=VARCHAR},
			</if>
		</set>
		where fd_id = #{fdId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zero.pojo.shiro.SysRolePermission">
		update
		sys_role_permission
		set fd_role_id = #{fdRoleId,jdbcType=VARCHAR},
		fd_permission_id = #{fdPermissionId,jdbcType=VARCHAR}
		where fd_id =
		#{fdId,jdbcType=VARCHAR}
	</update>

	<insert id="insertInfoBatch" parameterType="java.util.List">
		insert into sys_role_permission (fd_id, fd_permission_id, fd_role_id)
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.fdId}, #{item.fdPermissionId}, #{item.fdRoleId})
		</foreach>
	</insert>

	<delete id="deleteByIds" parameterType="map">
		delete from sys_role_permission where fd_role_id in
		<foreach collection="ids" item="fdRoleId" index="index" open="("
			separator="," close=")">
			#{fdRoleId}
		</foreach>
	</delete>
</mapper>